

h1,
h2 {
  font-family: 'Newsreader', serif;
  color: blue; 
  font-size: 2em;
  padding-top: 100px;
  width: 100%;
  text-align: center;
}


p {
  color: Black;
  line-height: 1.3em;
  text-align: left;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
}

.byline,
.credit,
.dateline {
  font-family: 'Playfair Display', serif;
  color: rgba(255, 255, 255, 0.5);
  float: left;
  font-size: 14px;
  padding-left: 10px;
  text-transform: uppercase;
}

.content {
  padding: 40px;
}

.image {
  background-size: cover;
  background-position: center;
  height: 300px;
}



 
}
